* {
  font-family: arial;
}

:root {
  --stick-color: #008000;
  --stick-width: 8px;
  /* HOUSE */
  --roof-color: grey;
  --window-color: white;
  --wall-color: brown;
  --door-color: #cccccc;
  --sky-color: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  --ion-background-color: green;
  --show-lights: none;
}

h2 {
  margin: 0;
  text-indent: 10px;
}

input[type="color"] {
  height: 50px;
}

label {
  display: block;
  font-size: 50px;
}

#stickman {
  height: 300px;
  width: 300px;
  margin: 0 auto;
  position: relative;
}

#stickman:hover {
  cursor: pointer;
}

#stickman .head {
  height: 80px;
  width: 80px;
  margin: 0 auto;
  background: var(--stick-color);
  border-radius: 100%;
  position: relative;
}

#stickman .head:before,
#stickman .head:after {
  content: "";
  position: absolute;
  top: 20px;
  height: 20px;
  width: 8px;
  background: white;
  border-radius: 100%;
  animation: blink 8s infinite;
}

#stickman .head:before {
  left: 25px;
}

#stickman .head:after {
  right: 25px;
}

#stickman .torso {
  margin: 0 auto;
  height: 100px;
  width: var(--stick-width);
  background: var(--stick-color);
}

#stickman .arm,
#stickman .leg {
  position: absolute;
  width: 60px;
  height: var(--stick-width);
  background: var(--stick-color);
  border-radius: 3px;
}

#stickman .arm {
  top: 100px;
}

#stickman .arm.left {
  transform: rotate(-45deg);
  left: 100px;
}

#stickman .arm.right {
  transform: rotate(45deg);
  left: 140px;
}

#stickman .leg {
  top: 200px;
  width: 80px;
}

#stickman .leg.left {
  transform: rotate(-45deg);
  left: 85px;
}

#stickman .leg.right {
  transform: rotate(45deg);
  left: 135px;
}

@keyframes blink {
  0% {
    height: 20px;
  }
  5% {
    margin-top: 5px;
    height: 0px;
  }
  10% {
    margin-top: 0;
    height: 20px;
  }
}

.jump-animation {
  animation: jump 3s ease;
}

@keyframes jump {
  0% {
    margin-top: 0px;
  }
  50% {
    margin-top: -100px;
  }
  100% {
    margin-top: 0px;
  }
}

/* HOUSE */

#stick-house {
  display: block;
  padding-top: 5px;
  background: var(--sky-color);
  margin: 0 auto;
}

#stick-house:hover {
  --window-color: yellow;
  --show-lights: block;
}

#stick-house .roof {
  display: block;
  width: 100%;
  height: 120px;
  overflow: hiddden;
  position: relative;
}

#stick-house .roof:after {
  position: absolute;
  bottom: 0;
  overflow: hidden;
  content: "";
  border-left: calc(50vw - 10px) solid transparent;
  border-right: calc(50vw - 10px) solid transparent;
  border-bottom: calc(50vw - 10px) solid var(--roof-color);
}

#stick-house .wall {
  background: var(--wall-color);
}

#stick-house .window:after {
  content: "";
  display: var(--show-lights);
  position: absolute;
  bottom: -27px;
  height: 40px;
  left: 15px;
  width: 86px;
  background: rgb(241, 254, 11);
  background: linear-gradient(
    0deg,
    rgba(241, 254, 11, 0) 0%,
    rgba(241, 254, 11, 0.8) 100%
  );
  transform: rotateX(40deg) skewx(20deg);
}

#stick-house .window {
  display: block;
  margin: 0 auto;
  width: 100px;
  position: relative;
}

#stick-house .window ion-col {
  height: 30px;
  width: 30px;
  background-color: var(--window-color);
  margin: 3px;
}

#stick-house .door {
  position: relative;
  margin: 0 auto;
  height: 120px;
  width: 60px;
  background-color: var(--door-color);
}

#stick-house .door:after {
  content: "";
  position: absolute;
  top: 55px;
  left: 5px;
  height: 6px;
  width: 6px;
  background-color: var(--wall-color);
  border-radius: 100%;
}
